<div class="card">
  <div class="card-header">
    <h4>What we are About!</h4>
  </div>
  <div class="card-body">
    <p>We empower entrepreneurs to
    achieve their dreams, whether we’re
    giving a bootstrapped SaaS Founder
    a dream exit, or helping a team
    member grow in their career.</p>
  </div>
  <div class="card-header">
    <h4>We believe in:</h4>
  </div>
  <div class="card-body">
    <h6>Results over face time.</h6>
    <p>Running a startup is hard. Growing more than 30 is extremely hard. Doing it all remotely means our team members must be proactive, self-starting, and great communicators.</p>
  </div>
  <div class="card-body">
    <h6>Life outside of work.</h6>
    <p>Our team loves our remote-first culture. No commuting, no set office hours, and no unnecessary meetings mean everyone gets a little time and a lot of control back in their lives.</p>
  </div>
  <div class="card-body">
    <h6>Side hustles.</h6>
    <p>We set clear, 90-day goals for every team member and have weekly meetings. After that, you’re in charge of managing your own time. Got a passion project, a side hustle, or a hobby that makes your heart beat? We want you to get after it.</p>
  </div>
  <div class="card-body">
    <h6>Diversity, equity, and inclusion.</h6>
    <p>We’re committed to fostering an environment that embraces diversity, equity, and inclusion across our global team. Time zones and miles might separate us, but our values unite us. SureSwift Capital always has and always will be an Equal Opportunity Employer.</p>
  </div>
</div>