<div class="card">
  <div class="card-header">
    <h4>Exceptional Operators of Excellent SaaS Businesses</h4>
  </div>
  <div class="card-body">
    <h5>We’re growing our SaaS portfolio.</h5>
    <p>We empower entrepreneurs to
    achieve their dreams, whether we’re
    giving a bootstrapped SaaS Founder
    a dream exit, or helping a team
    member grow in their career.</p>
    <p>We pride ourselves on being a calm, people-first company. With our remote-first philosophy, you can enjoy a better work-life balance with flexible hours and no commute.</p>
  </div>
  
</div>
